/* CSS BY Jessica Seapno */

/*IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ROOT VARIABLES */

:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}


/* GLOBAL STYLES (mobile first/small)*/

body {
    font-family: 'Inter', sans-serif;
    color:#4CAF50;
    max-width: 450px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Kavoon', cursive;
}

h1 {
    font-size:3em;
}

NAV h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size:1.15em;
}